{% load static %}

<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nightmare Warriors</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@700&display=swap" rel="stylesheet">
  </head>

  <body>
    <!-- Header Bar -->
    <header>
        <img src={% static "NightmareWarriors-title.png" %}
             alt="header-title" width=30% height=30% >
      <div class="header-element">
        <a href="https://github.com/Sprinter05/nightmare-warriors"><button>download</button></a>
        <a href="/about"><button>about</button></a>
      </div>
    </header>
    
    
    <!-- Content Section -->
    <div class="content">
    </div>
    <div class="text">
      <p>Este sitio web fue creado por Miguel López y Daniel Deza Prieto</p>
      <p>Github (Miguel López): https://github.com/migueldeoleiros/NightmareWarriorsWeb </p>
      <p>Github (Daniel Deza): https://github.com/dza205 </p>
      <p> El juego fue creado por: Kris, Jose Martínez Estevez, Paula Taibo y Samuel Hermida</p>
    </div>
  </body>

</html>
